<div class="navbar-collapse inverse" [@flyInOut]="'in'" *ngIf="isNavShowed">
  <div class="container-fluid">
    <div class="about">
      <h4>About</h4>
      <p class="text-muted">
        This app is for listing images in mulitple formats
      </p>
    </div>
    <div class="social">
      <h4>Contact</h4>
      <ul class="list-unstyled">
        <li><a href="#">Follow on Twitter</a></li>
        <li><a href="#">Like on Facebook</a></li>
        <li><a href="#">Email me</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="navbar navbar-static-top navbar-dark bg-inverse">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" (click)="toggleState()" aria-expanded="false" aria-label="Toggle navigation">
    </button>
    <a href="#" class="navbar-brand">Tableu</a>
  </div>
</div>
